<div *ngIf="loadedRecipe; else noRecipeLoaded">
<div class="row">
  <div class="col-xs-12">
    <img src="{{loadedRecipe.imagePath}}" alt="" class="img-responsive" style="max-height: 300px; max-width: 400px;" />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ loadedRecipe.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group"> <!--será tipo o nosso DROPDOWN de options..-->
      <ul class="dropdown-menu">
          <li><a href="#">Add to Shopping List</a></li>
          <li><a href="#">Edit Recipe</a></li>
          <li><a href="#">Delete Recipe</a></li> 
      </ul>
    </div>
  </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h2>{{loadedRecipe.description}}</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Ingredients
    </div>
</div>
<button type="button" class="btn btn-primary dropdown-toggle">
  Manage Recipe <span class="caret"></span>
</button>
</div>
<ng-template #noRecipeLoaded>
<p>Please select a Recipe!</p>
</ng-template>