<div class="container">
  <h3>I'm in the AppComponent!</h3>
  <hr />
  <!-- <app-server></app-server> -->
  <div class="row">
    <div class="col-xs-12">
      <!-- <app-servers></app-servers> SELECT POR ELEMENT, ESSE É O EXEMPLO -->
      <div app-servers></div> <!-- SELECT POR ATTRIBUTE, ESSE É O EXEMPLO, de app-servers...-->
      <!-- <div class="app-servers"></div>    SELECT POR _CLASS_, ESSE É O EXEMPLO, DE app-servers -->
    </div>
  </div>
  <exemplo></exemplo>
  <app-exemplo-component-com-inline-template></app-exemplo-component-com-inline-template>
  <app-exemplo-two-way-databinding></app-exemplo-two-way-databinding>
  <app-assignment2component></app-assignment2component>
  <app-uso-da-directive-ng-if></app-uso-da-directive-ng-if>
</div>