<!-- <div class="container">
  <div class="row">
    <div class="col-md-12"></div>
    <h2>I'm Working!</h2>
  </div>
</div> -->

<!-- <app-header-component (selectedPage)="pageSwitcher($event)"> SEM O USO DE ROUTING -->

  <app-header-component></app-header-component> <!-- COM O USO DE ROUTING-->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <router-outlet></router-outlet>
        <!-- <app-recipe-book
        *ngIf="selectedPage === 'recipeBook' "
        ></app-recipe-book>
        <app-shopping-list
        *ngIf="selectedPage === 'shopList' "
        ></app-shopping-list> -->
       
      </div>
    </div></div>
