

       
<div class="row" >
  <div class="col-xs-12">

    <button class="btn btn-success"    (click)="onNewRecipe()">New Recipe</button> 
  </div>
</div>
<hr>
<app-spinner *ngIf="isLoading"></app-spinner>
<div class="row" *ngIf="!isLoading">
  <div class="col-xs-12">

    <div *ngFor="let recipe of recipes; let index=index" [@recipeListItem]>
    <app-recipe-item  
    [routerLink]="['/recipe-book', recipe.id]"
    routerLinkActive="active"
    [index]="index"
    [name]="recipe.name"
    [description]="recipe.description"
    [ngStyle]="{'cursor': 'pointer'}"
    [imagePath]="recipe.imagePath"

    ></app-recipe-item>
  </div>
</div>
</div>
